<h1>新しい投稿</h1>

<%= form_with model:@post,html:{class: "form-container"} do |formm| %>
   <div class="form-input"> <%= formm.label :見出し%>   <%= formm.text_field :title%></div>

     <div class="form-input"><%= formm.label :コンテンツ%>   <%= formm.text_area :content%></div>
     <div class="button-container">
     <%= formm.submit "投稿",class: "link-button" %></div>
<% end %>

